In [1]:
# Processing for TLC Data 2023

In [9]:
import pandas as pd
import os

In [10]:
# Define the folder containing the Parquet files
folder_path = './tlc_data'

# Get a list of all Parquet files in the folder
parquet_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.parquet')]

# Initialize an empty list to hold the filtered DataFrames
filtered_dfs = []

In [11]:
# Process the first batch of files
for file in parquet_files[:2]:  # Adjust the slice as needed (e.g., [:3] for the first 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame where hvfhs_license_num == 'HV0003'
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Optionally, concatenate and save intermediate results to free up memory
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_a.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [12]:
# Process the next batch of files 
for file in parquet_files[2:4]:  # Adjust the slice as needed (e.g., [3:6] for the next 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Concatenate and save intermediate results
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_b.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [13]:
# Process the next batch of files 
for file in parquet_files[4:6]:  # Adjust the slice as needed (e.g., [3:6] for the next 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Concatenate and save intermediate results
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_c.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [14]:
# Process the next batch of files 
for file in parquet_files[6:8]:  # Adjust the slice as needed (e.g., [3:6] for the next 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Concatenate and save intermediate results
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_d.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [15]:
# Process the next batch of files 
for file in parquet_files[8:10]:  # Adjust the slice as needed (e.g., [3:6] for the next 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Concatenate and save intermediate results
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_e.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [16]:
# Process the next batch of files 
for file in parquet_files[10:]:  # Adjust the slice as needed (e.g., [3:6] for the next 3 files)
    # Read the entire Parquet file into a DataFrame
    df = pd.read_parquet(file)
    
    # Filter the DataFrame
    filtered_df = df[df['hvfhs_license_num'] == 'HV0003']
    
    # Append the filtered DataFrame to the list
    filtered_dfs.append(filtered_df)

# Concatenate and save intermediate results
intermediate_df = pd.concat(filtered_dfs, ignore_index=True)
intermediate_df.to_parquet('intermediate_f.parquet')

# Clear the list to free up memory
filtered_dfs = []

In [55]:
intermediate_df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-04-01 00:01:28,2023-04-01 00:02:41,2023-04-01 00:03:03,2023-04-01 00:15:42,174,126,5.10,...,1.82,0.00,0.0,0.00,13.83,N,N,,N,N
1,HV0003,B03404,B03404,2023-04-01 00:39:40,2023-04-01 00:41:20,2023-04-01 00:43:42,2023-04-01 01:01:08,211,163,3.11,...,3.56,2.75,0.0,9.52,24.84,N,N,,N,N
2,HV0003,B03404,B03404,2023-03-31 23:56:31,2023-04-01 00:00:20,2023-04-01 00:01:01,2023-04-01 00:09:48,222,76,2.40,...,1.08,0.00,0.0,0.00,8.10,Y,N,,N,N
3,HV0003,B03404,B03404,2023-04-01 00:12:35,2023-04-01 00:16:04,2023-04-01 00:17:17,2023-04-01 00:19:12,76,124,0.43,...,0.70,0.00,0.0,0.00,5.40,N,N,,N,N
4,HV0003,B03404,B03404,2023-04-01 00:46:23,2023-04-01 00:47:30,2023-04-01 00:47:49,2023-04-01 01:05:23,263,247,4.18,...,1.48,2.75,0.0,0.00,15.65,N,N,,N,N

In [26]:
# Import aggregate report for number of unique drivers
df_all = pd.read_csv('./FHV_Base_Aggregate_Report_20240809.csv')

# Filter the DataFrame for rows where 'Base License Number' is 'UBER'
# and 'Year' is 2023 or 2024
df_uber = df_all[(df_all['Base License Number'] == 'UBER') & (df_all['Year'].isin([2023, 2024]))]
df_uber

,Base License Number,Base Name,DBA,Year,Month,Month Name,Total Dispatched Trips,Total Dispatched Shared Trips,Unique Dispatched Vehicles
48345,UBER,UBER,UBER,2023,8,August,13143573,139051,68755
48350,UBER,UBER,UBER,2023,2,February,13281004,66086,67103
48355,UBER,UBER,UBER,2024,2,February,14409466,251345,75528
48358,UBER,UBER,UBER,2023,1,January,13580156,45982,67182
48359,UBER,UBER,UBER,2023,12,December,14273687,194192,74235
48374,UBER,UBER,UBER,2024,1,January,14433122,227595,75678
48385,UBER,UBER,UBER,2023,10,October,14375975,196642,71969
48386,UBER,UBER,UBER,2023,6,June,13812224,126051,69402
48390,UBER,UBER,UBER,2024,4,April,14704197,271031,75353
48407,UBER,UBER,UBER,2023,5,May,14278102,133885,69188
48410,UBER,UBER,UBER,2023,3,March,14553703,73850,68594
48414,UBER,UBER,UBER,2023,4,April,13998639,105461,69073
48416,UBER,UBER,UBER,2023,11,November,13788868,196167,72609
48417,UBER,UBER,UBER,2023,9,September,14311903,179736,70519
48430,UBER,UBER,UBER,2024,3,March,15622111,289448,75675
48443,UBER,UBER,UBER,2023,7,July,13732362,148658,68776

In [27]:
# Sort the filtered DataFrame by 'Year' (ascending) and 'Month' (ascending)
df_sorted = df_uber.sort_values(by=['Year', 'Month'], ascending=[True, True])

# Filter for the range April 2023 to March 2024
df_filtered = df_sorted[((df_sorted['Year'] == 2023) & (df_sorted['Month'] >= 4)) |
                        ((df_sorted['Year'] == 2024) & (df_sorted['Month'] <= 3))]

# Display the filtered DataFrame
df_filtered

,Base License Number,Base Name,DBA,Year,Month,Month Name,Total Dispatched Trips,Total Dispatched Shared Trips,Unique Dispatched Vehicles
48414,UBER,UBER,UBER,2023,4,April,13998639,105461,69073
48407,UBER,UBER,UBER,2023,5,May,14278102,133885,69188
48386,UBER,UBER,UBER,2023,6,June,13812224,126051,69402
48443,UBER,UBER,UBER,2023,7,July,13732362,148658,68776
48345,UBER,UBER,UBER,2023,8,August,13143573,139051,68755
48417,UBER,UBER,UBER,2023,9,September,14311903,179736,70519
48385,UBER,UBER,UBER,2023,10,October,14375975,196642,71969
48416,UBER,UBER,UBER,2023,11,November,13788868,196167,72609
48359,UBER,UBER,UBER,2023,12,December,14273687,194192,74235
48374,UBER,UBER,UBER,2024,1,January,14433122,227595,75678
48355,UBER,UBER,UBER,2024,2,February,14409466,251345,75528
48430,UBER,UBER,UBER,2024,3,March,15622111,289448,75675

In [72]:
# Calculate mean monthly unique drivers
unique_monthly_drivers = df_filtered['Unique Dispatched Vehicles'].mean()
unique_monthly_drivers

# Initialize a base list
results = []
print(results)

[]

In [73]:
# List of monthly Parquet files
parquet_files = [
    './tlc_data/fhvhv_tripdata_2023-04.parquet',
    './tlc_data/fhvhv_tripdata_2023-05.parquet',
    './tlc_data/fhvhv_tripdata_2023-06.parquet',
    './tlc_data/fhvhv_tripdata_2023-07.parquet',
    './tlc_data/fhvhv_tripdata_2023-08.parquet',
    './tlc_data/fhvhv_tripdata_2023-09.parquet',
    './tlc_data/fhvhv_tripdata_2023-10.parquet',
    './tlc_data/fhvhv_tripdata_2023-11.parquet',
    './tlc_data/fhvhv_tripdata_2023-12.parquet',
    './tlc_data/fhvhv_tripdata_2024-01.parquet',
    './tlc_data/fhvhv_tripdata_2024-02.parquet',
    './tlc_data/fhvhv_tripdata_2024-03.parquet',
]

# Initialize accumulators for the sums (all, 'WAV', and 'Non-WAV')
totals = {
    "all": {"trip_miles": 0, "drivers": 0, "driver_pay_notips": 0, "tips": 0},
    "WAV": {"trip_miles": 0, "drivers": 0, "driver_pay_notips": 0, "tips": 0},
    "Non-WAV": {"trip_miles": 0, "drivers": 0, "driver_pay_notips": 0, "tips": 0},
}

# Loop through each file and sum the relevant columns
for file in parquet_files:
    # Load the required columns
    df = pd.read_parquet(file, columns=['trip_miles', 'driver_pay', 'tips', 'wav_request_flag'])
    
    # Process totals for all records
    totals["all"]["trip_miles"] += df['trip_miles'].sum()
    totals["all"]["driver_pay_notips"] += df['driver_pay'].sum()
    totals["all"]["tips"] += df['tips'].sum()
    
    # Process totals where 'wav_request_flag' == 'Y' (WAV)
    df_wav = df[df['wav_request_flag'] == 'Y']
    totals["WAV"]["trip_miles"] += df_wav['trip_miles'].sum()
    totals["WAV"]["driver_pay_notips"] += df_wav['driver_pay'].sum()
    totals["WAV"]["tips"] += df_wav['tips'].sum()
    
    # Process totals where 'wav_request_flag' == 'N' (Non-WAV)
    df_non_wav = df[df['wav_request_flag'] == 'N']
    totals["Non-WAV"]["trip_miles"] += df_non_wav['trip_miles'].sum()
    totals["Non-WAV"]["driver_pay_notips"] += df_non_wav['driver_pay'].sum()
    totals["Non-WAV"]["tips"] += df_non_wav['tips'].sum()

# Calculate total pay for each category
for key in totals:
    totals[key]["total_pay"] = totals[key]["driver_pay_notips"] + totals[key]["tips"]

# Append results for all records to the results list
results.append(["Total Trip Miles (All)", totals['all']['trip_miles']])
results.append(["Mean Monthly Unique Drivers (All)", unique_monthly_drivers])
results.append(["Total Driver Pay Before Tips (All)", totals['all']['driver_pay_notips']])
results.append(["Total Tips (All)", totals['all']['tips']])
results.append(["Total Pay (All)", totals['all']['total_pay']])

# Append results for 'wav_request_flag' == 'Y' (WAV)
results.append(["Total Trip Miles (WAV)", totals['WAV']['trip_miles']])
results.append(["Total Driver Pay Before Tips (WAV)", totals['WAV']['driver_pay_notips']])
results.append(["Total Tips (WAV)", totals['WAV']['tips']])
results.append(["Total Pay (WAV)", totals['WAV']['total_pay']])

# Append results for 'wav_request_flag' == 'N' (Non-WAV)
results.append(["Total Trip Miles (Non-WAV)", totals['Non-WAV']['trip_miles']])
results.append(["Total Driver Pay Before Tips (Non-WAV)", totals['Non-WAV']['driver_pay_notips']])
results.append(["Total Tips (Non-WAV)", totals['Non-WAV']['tips']])
results.append(["Total Pay (Non-WAV)", totals['Non-WAV']['total_pay']])
print(results)

[['Total Trip Miles (All)', 1195516743.6969998], ['Mean Monthly Unique Drivers (All)', 71783.91666666667], ['Total Driver Pay Before Tips (All)', 4661201641.0999975], ['Total Tips (All)', 275267233.7499999], ['Total Pay (All)', 4936468874.8499975], ['Total Trip Miles (WAV)', 2694912.739], ['Total Driver Pay Before Tips (WAV)', 15118180.709999999], ['Total Tips (WAV)', 680212.29], ['Total Pay (WAV)', 15798393.0], ['Total Trip Miles (Non-WAV)', 1192821830.9580004], ['Total Driver Pay Before Tips (Non-WAV)', 4646083460.389999], ['Total Tips (Non-WAV)', 274587021.45999974], ['Total Pay (Non-WAV)', 4920670481.849999]]

In [74]:
# Calculate weekly mileage for all drivers
mean_weekly_mileage = totals['all']['trip_miles']/unique_monthly_drivers/52
print("Mean weekly mileage for all drivers: ", mean_weekly_mileage)
results.append(["Mean Weekly Mileage", mean_weekly_mileage])

# Calculate weekly pay for all drivers
mean_weekly_salary = totals['all']['driver_pay_notips']/unique_monthly_drivers/52
print("Mean weekly salary for all drivers: $", mean_weekly_salary)
results.append(["Mean Weekly Salary", mean_weekly_salary])

# Calculate weekly pay for all drivers
mean_weekly_tips = totals['all']['tips']/unique_monthly_drivers/52
print("Mean weekly pay for all drivers: $", mean_weekly_tips)
results.append(["Mean Weekly Tips", mean_weekly_tips])

# Calculate weekly pay for all drivers
mean_weekly_pay = totals['all']['total_pay']/unique_monthly_drivers/52
print("Mean weekly pay for all drivers: $", mean_weekly_pay)
results.append(["Mean Weekly Total Earnings", mean_weekly_pay])

# Calculate annual pay for all drivers
mean_annual_pay = totals['all']['total_pay']/unique_monthly_drivers
print("Mean annual pay for all drivers: $", mean_annual_pay)
results.append(["Mean Annual Pay", mean_annual_pay])

Mean weekly mileage for all drivers:  320.2765699775974
Mean weekly salary for all drivers: $ 1248.7266961806931
Mean weekly pay for all drivers: $ 73.74354722966206
Mean weekly pay for all drivers: $ 1322.4702434103554
Mean annual pay for all drivers: $ 68768.45265733848

In [75]:
# Create a DataFrame from the results list
df_results = pd.DataFrame(results, columns=['Metric', 'Value'])
df_results['Value'] = pd.to_numeric(df_results['Value'], errors='coerce')

# Export the results 
df_results.to_csv('./tlc_results.csv')